.storybook-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  border-radius: 3em;
  font-weight: 700;
  line-height: 1;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.storybook-button--primary {
  background-color: var(--primary-button-bg);
  color: var(--text-on-primary);
}
.storybook-button--primary svg {
  filter: brightness(0) invert(1);
}
.storybook-button--primary:hover {
  background-color: var(--primary-button-bg-hover);
}

.storybook-button--secondary {
  background-color: var(--secondary-button-bg);
  color: var(--text-on-primary);
}

.storybook-button--secondary:hover {
  background-color: var(--secondary-button-bg-hover);
}
.storybook-button--small {
  padding: 10px 16px;
  font-size: 12px;
  gap: 4px;
}
.storybook-button--medium {
  padding: 11px 20px;
  font-size: 14px;
  gap: 4px;
}
.storybook-button--large {
  padding: 12px 24px;
  font-size: 16px;
  gap: 8px;
}
.storybook-button--round {
  border-radius: calc(var(--full) * 1px);
}
.storybook-button--square {
  border-radius: calc(var(--extra-small) * 1px);
}

.storybook-primary-button-bg-loading {
  background-color: var(--primary-button-bg-disabled) !important;
  border-color: transparent !important;
  cursor : wait
}
.storybook-secondary-button-bg-loading {
  background-color: var(--secondary-button-bg-disabled) !important;
  border-color: transparent !important;
  cursor : wait
} 
.storybook-primary-button-bg-loading span,
.storybook-secondary-button-bg-loading span,
.storybook-primary-button-bg-loading .icon-plus,
.storybook-secondary-button-bg-loading .icon-plus {
  visibility: hidden;
}

.storybook-primary-button-bg-disabled,
.storybook-secondary-button-bg-disabled {
  color: var(--secondary-button-text-disabled) !important;
  background-color: var(--secondary-button-bg-disabled) !important;
  border-color: transparent !important;
  cursor : not-allowed;
}
.storybook-primary-button-bg-disabled svg, 
.storybook-secondary-button-bg-disabled svg {
  filter: none;
  fill: var(--secondary-button-text-disabled) !important;
}

.storybook-icon {
  display: block;
}
.storybook-icon.center {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.storybook-button--small .storybook-icon,
.storybook-button--medium .storybook-icon {
  width: 16px;
  height: 16px;
}
.storybook-button--large .storybook-icon {
  width: 20px;
  height: 20px;
}
.icon-plus {
  fill: #fff;
}
