.storybook-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  font-weight: var(--text-bold);
  line-height: 1;
  font-family: var(--text-text-style), 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* buttonType - primary */
.storybook-button--primary {
  background-color: var(--primary-button-bg);
  color: var(--text-on-primary);
}
.storybook-button--primary svg {
  filter: brightness(0) invert(1);
}
.storybook-button--primary:hover {
  background-color: var(--primary-button-bg-hover);
}
.storybook-button--primary:active {
  background-color: var(--primary-button-bg);
}
/* buttonType - secondary */
.storybook-button--secondary {
  background-color: var(--secondary-button-bg);
  color: var(--text-on-primary);
}
.storybook-button--secondary:hover {
  background-color: var(--secondary-button-bg-hover);
}
.storybook-button--secondary:active {
  background-color: var(--secondary-button-bg-hover);
}
/* buttonType - secondary-low */
.storybook-button--secondary-low {
  background-color: var(--content-bg-1);
  color: var(--text-label);
}
.storybook-button--secondary-low:hover {
  background-color: var(--secondary-button-bg-low);
}
.storybook-button--secondary-low:active {
  background-color: var(--secondary-button-bg-low-hover);
}
/* buttonType - tertiary */
.storybook-button--tertiary {
  background-color: var(--secondary-button-bg-low);
  color: var(--text-label);
}
.storybook-button--tertiary:hover {
  background-color: var(--secondary-button-bg-low-hover);
}
.storybook-button--tertiary:active {
  background-color: var(--secondary-button-bg-low-hover);
}

/* size */
.storybook-button--medium {
  padding-top: calc(var(--spacing-200) * 1px);
  padding-bottom: calc(var(--spacing-200) * 1px);
  padding-left: calc(var(--spacing-300) * 1px);
  padding-right: calc(var(--spacing-300) * 1px);
  font-size: 14px;
  gap: calc(var(--spacing-75) * 1px);
}
.storybook-button--large {
  padding-top: calc(var(--spacing-300) * 1px);
  padding-bottom: calc(var(--spacing-300) * 1px);
  padding-left: calc(var(--spacing-400) * 1px);
  padding-right: calc(var(--spacing-400) * 1px);
  font-size: 16px;
  gap: calc(var(--spacing-100) * 1px);
}

/* shape */
.storybook-button--round {
  border-radius: calc(var(--full) * 1px);
}
.storybook-button--square {
  border-radius: calc(var(--extra-small) * 1px);
}

/* loading by buttonType */
.storybook-primary-button-bg-loading {
  background-color: var(--primary-button-bg-disabled) !important;
  border-color: transparent !important;
  cursor : wait
}
.storybook-secondary-button-bg-loading,
.storybook-secondary-low-button-bg-loading,
.storybook-tertiary-button-bg-loading {
  background-color: var(--secondary-button-bg-disabled) !important;
  border-color: transparent !important;
  cursor : wait
} 
.storybook-primary-button-bg-loading span,
.storybook-secondary-button-bg-loading span,
.storybook-secondary-low-button-bg-loading span,
.storybook-tertiary-button-bg-loading span,
.storybook-primary-button-bg-loading .icon-plus,
.storybook-secondary-button-bg-loading .icon-plus,
.storybook-secondary-low-button-bg-loading .icon-plus,
.storybook-tertiary-button-bg-loading .icon-plus {
  visibility: hidden;
}

/* disabled by buttonType */
.storybook-primary-button-bg-disabled,
.storybook-secondary-button-bg-disabled,
.storybook-secondary-low-button-bg-disabled,
.storybook-tertiary-button-bg-disabled {
  color: var(--secondary-button-text-disabled) !important;
  background-color: var(--secondary-button-bg-disabled) !important;
  border-color: transparent !important;
  cursor : not-allowed;
}
.storybook-primary-button-bg-disabled svg, 
.storybook-secondary-button-bg-disabled svg,
.storybook-secondary-low-button-bg-disabled svg,
.storybook-tertiary-button-bg-disabled svg {
  filter: none;
  fill: var(--secondary-button-text-disabled) !important;
}

/* icon */
.storybook-icon {
  display: block;
}
.storybook-icon.center {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.storybook-button--medium .storybook-icon {
  width: 16px;
  height: 16px;
}
.storybook-button--large .storybook-icon {
  width: 20px;
  height: 20px;
}
.icon-plus {
  fill: var(--text-on-primary);
}
.storybook-button--secondary-low .icon-plus,
.storybook-button--tertiary .icon-plus {
  fill: var(--text-label);
}